# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
landingpage
nwa_landingpage

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Local environment files
.env
.env*.local

# System files
.DS_Store

# Local build output directories
dist/

